<div class="navbar flex px-4 py-3 border-b-2">
  <div class="message d-flex justify-content-between align-items-center">
    <p class="text-xl font-bold">NEW</p>
    <div class="quantity ml-2 rounded-full flex justify-center items-center">
      <p class="text-white cursor-pointer">118</p>
    </div>
  </div>
  <div
    class="profile d-flex justify-content-between align-items-center relative"
  >
    <p class="fs-6 fw-bold">User A</p>
    <div class="showSubNav">
      <img
        src="assets/images/avt_user.png"
        class="ml-3 cursor-pointer"
        alt=""
      />
      <ul class="rounded-xl border-2 p-2 absolute subnav">
        <li class="p-2 cursor-pointer">
          <a class="text-sm" routerLink="/"
            ><i class="fa-solid fa-arrows-rotate"></i> Đổi mật khẩu</a
          >
        </li>
        <li class="p-2 cursor-pointer">
          <a
            class="text-sm"
            mat-raised-button
            (click)="openLogoutDialog()"
            routerLink="/login"
            ><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

