<div class="p-6">
  <p class="fw-bold text-xl text-center">Đổi mật khẩu</p>
  <form
    mat-dialog-content
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex items-center flex-col mb-6 mt-4"
  >
    <div class="mb-3 form-group">
      <input
        type="password"
        class="border-2 w-80 h-10 rounded-lg pl-4"
        placeholder="Mật khẩu hiện tại"
        formControlName="currentPassword"
        [ngClass]="{
          'invalid-border': submitted && f['currentPassword'].errors
        }"
      />
      <div *ngIf="submitted && f['currentPassword'].errors">
        <div
          *ngIf="f['currentPassword'].errors['required']"
          class="text-xs text-red-600"
        >
          Mật khẩu không được để trống
        </div>
      </div>
    </div>
    <div class="mb-3 form-group">
      <input
        type="password"
        class="border-2 w-80 h-10 rounded-lg pl-4"
        placeholder="Mật khẩu mới "
        formControlName="password"
        [ngClass]="{
          'invalid-border': submitted && f['password'].errors
        }"
      />
      <div *ngIf="submitted && f['password'].errors">
        <div
          *ngIf="f['password'].errors['required']"
          class="text-xs text-red-600"
        >
          Mật khẩu không được để trống
        </div>
        <div
          *ngIf="f['password'].errors['minlength']"
          class="text-xs text-red-600"
        >
          Mật khẩu phải trên 6 ký tự
        </div>
      </div>
    </div>
    <div class="mb-3 form-group">
      <input
        type="password"
        class="border-2 w-80 h-10 rounded-lg pl-4"
        placeholder="Vui lòng nhập mật khẩu mới "
        formControlName="confirmPassword"
        [ngClass]="{
          'invalid-border': submitted && f['confirmPassword'].errors
        }"
      />
      <div *ngIf="submitted && f['confirmPassword'].errors">
        <div
          *ngIf="f['confirmPassword'].errors['required']"
          class="text-xs text-red-600"
        >
          Vui lòng nhập lại mật khẩu
        </div>
        <div
          *ngIf="f['confirmPassword'].errors['matching']"
          class="text-xs text-red-600"
        >
          Mật khẩu không trùng khớp
        </div>
      </div>
    </div>

    <div mat-dialog-actions class="mt-4">
      <button
        type="submit"
        mat-button
        color="warn"
        class="rounded-lg bg-primary border-none mr-3 w-28 h-8 fw-bold text-white"
      >
        Đổi mật khẩu
      </button>
      <button
        mat-button
        (click)="onCancel()"
        class="ml-3 rounded-lg border-2 w-28 h-8 fw-bold bg-slate-300"
      >
        Hủy
      </button>
    </div>
    <div *ngIf="isOldPasswordCorrect === true" style="color: green">
      Mật khẩu cũ đúng
    </div>
    <div *ngIf="isOldPasswordCorrect === false" style="color: red">
      Mật khẩu cũ không đúng
    </div>
    <div *ngIf="isOldPasswordCorrect === null">
      Vui lòng nhập mật khẩu cũ và nhấn 'Kiểm tra'
    </div>
  </form>
</div>
