ul,
p {
  padding-left: 0;
  margin-bottom: 0;
}

.mat-typography p {
  margin: 0;
}

.detail-container {
  // background-color: #000;
  height: 100%;
}

.messageCus {
  background: #c4e4f5;
}

.messageUser{
  background: #fff;
}

.detailMessage {
  height: 85%;
}

.sendMessage {
  height: 15%;
}

input {
  outline: none;
}

.containerMessage {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
