<div class="detail-container px-3 py-4 flex flex-col h-full">
  <ul class="detailMessage">
    <li>
      <div class="flex">
        <!-- list message -->
        <div class="flex items-center">
          <img class="max-w-10" src="assets/images/avt_customer.png" alt="" />
        </div>
        <!-- content -->
        <div class="w-full">
          <!-- content customer -->
          <div class="mb-3">
            <div
              class="messageCus flex justify-center items-center px-4 py-2 ml-4 rounded-3xl max-w-96 max-h-max"
            >
              <p class="text-base max-w-80">
                Trong ngữ cảnh của lập trình máy chủ và web
              </p>
            </div>
            <div class="ml-8 mt-1">
              <p>22:00</p>
            </div>
          </div>

          <!-- content user -->
          <div class="flex flex-col w-full items-end">
            <div
              class="messageUser flex justify-center items-center px-4 py-2 ml-4 rounded-3xl max-w-96 max-h-max border-2 border-black"
            >
              <p class="text-base max-w-80">
                Trong ngữ cảnh của lập trình máy chủ và web
              </p>
            </div>
            <div class="mr-4 mt-1">
              <p>22:00</p>
            </div>
          </div>
        </div>
        <!-- -------End-------- -->
      </div>
    </li>
  </ul>
  <!-- send message -->
  <div class="sendMessage flex items-center justify-center">
    <div
      class="containerMessage w-5/6 border-2 flex justify-center items-center rounded-2xl bg-white"
    >
      <input type="text" class="w-11/12 h-14 text-lg" placeholder="Aa" />
      <div>
        <i class="bx bx-send text-3xl cursor-pointer"></i>
      </div>
    </div>
  </div>
</div>
