<div class="detail-container px-3 py-4 flex flex-col h-full">
  <ul class="detailMessage">
    <div class="chat-area" id="chatmessages" #chatmessages>
      <!-- -------End-------- -->
    </div>
  </ul>
  <!-- send message -->
  <div class="sendMessage flex items-center justify-center">
    <form
      id="messageForm"
      name="messageForm"
      #messageForm
      (submit)="sendMessage($event)"
      class="containerMessage w-5/6 border-2 flex justify-center items-center rounded-2xl bg-white"
    >
      <input
        autocomplete="off"
        type="text"
        class="w-11/12 h-14 text-lg"
        placeholder="Aa"
        id="message"
        #message
      />
      <button>
        <i class="bx bx-send text-3xl cursor-pointer"></i>
      </button>
    </form>
  </div>
</div>
