input::placeholder {
  border: none;
}

input:focus {
  outline: none;
}

p {
  margin-bottom: 0;
}

.col-right {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.headerChat{
  height: calc(100%/10);
}